[server]
listen=":8080"

[server.logging]
filename="gts.log"
level="debug"
format=""

[[caches]]
id="hddcache"
expires="7d"
size="8tb"
storage="file:///data/hddcache"

[[caches]]
id="ssdcache"
expires="24h"
size="800gb"
storage="file:///data/ssdcache"

[[caches]]
id="ramcache"
expires="10m"
size="8gb"
storage="ram://@"

[[backends]]
id="live-streaming"
[[backends.servers]]
server="10.255.199.78:5460"
weight=50
check=true
backup=true
interval="10s"
[[backends.servers]]
server="10.255.199.79:5460"
weight=50
check=true
backup=true
interval="10s"
[[backends.servers]]
server="10.255.199.80:5460"
weight=50
check=true
backup=true
interval="10s"

[[frontends]]
id="live-streaming"
listen=":5460"
[[frontends.patterns]]
pattern=".*.ts"
backends="live-streaming"
caches="ramcache:ssdcache:hddcache"
cache_key="uri"
expires="7d"
[[frontends.patterns]]
pattern=".*.m3u8"
backends="live-streaming"
caches="ramcache:ssdcache"
cache_key="uri"
expires="7m"




